<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <img
          src="{{ url_for('static', filename='css/images/calculator-logo.png') }}"
        />
        <a class="nav-bar-logo" href="/">Expense Splitter</a>
        <a
          class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 1 else '' }}"
          href="/dashboard"
          >Dashboard</a
        >
        <a
          class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 2 else '' }}"
          href="/expenses"
          >Expenses</a
        >
        <a
          class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 3 else '' }}"
          href="/settings"
          >Settings</a
        >
      </div>
      <div class="welcome">
        <hr />
        <h1>Welcome to our Expense Splitter app!</h1>
        <hr />
      </div>
      <div class="instructions">
        To get started, navigate to the expenses tab. Once you reach the
        expenses tab, follow the instructions below.

        <ol class="instructions"> <h1><strong>Instructions:</strong></h1>
          <li>Input the name and percentage of each person.</li>
          <li>Add as many people as necessary.</li>
          <li>Make sure total percentage adds to 100%.</li>
          <li>Click calculate to see results.</li>
        </ol>
        <hr>
      </div>
    </div>
  </body>
  <footer>
    <p id="attributions">attributions</p>
    <a
      href="https://www.flaticon.com/free-icons/calculator"
      title="calculator icons"
      >Calculator icons created by Vitaly Gorbachev - Flaticon</a
    >
  </footer>
</html>
