<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <img
          src="{{ url_for('static', filename='css/images/calculator-logo.png') }}"
        />
        <a class="nav-bar-logo" href="/">Expense Splitter</a>
        <a class="nav-bar-other" href="/dashboard">Dashboard</a>
        <a class="nav-bar-other" href="/expenses">Expenses</a>
        <a class="nav-bar-other" href="/settings">Settings</a>
      </div>
      <div class="hero">
        <h1>Expenses</h1>
        <p>Text Input style</p>
        <input class="text-input" type="number" />
        <p>Button style</p>
        <a href="#" class="buttons">Buttons</a>
      </div>
    </div>
  </body>
  <footer>
    <p>attributions</p>
    <a
      href="https://www.flaticon.com/free-icons/calculator"
      title="calculator icons"
      >Calculator icons created by Vitaly Gorbachev - Flaticon</a
    >
  </footer>
</html>
