<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <img src="{{ url_for('static', filename='css/images/calculator-logo.png') }}"/>
        <a class="nav-bar-logo" href="/">Expense Splitter</a>
        <a class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 1 else '' }}" href="/dashboard">Dashboard</a>
        <a class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 2 else '' }}" href="/expenses">Expenses</a>
        <a class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 3 else '' }}" href="/settings">Settings</a>
      </div>
      <div class="hero">
        <h1>Expenses</h1>
        <form action="/expenses" method="POST">
          <label for="expense">Total Expenses:</label>
          <input type="text" id="expense" name="expense" inputmode="numeric" pattern="\d+(\.\d{2})?" required>
          <div id="people-fields">
            <div class="person-field">
              <label for="person-1-name">Name:</label>
              <input type="text" id="person-1-name" name="person_1_name" required>
              <label for="person-1-percentage">Percentage:</label>
              <input type="number" id="person-1-percentage" name="person_1_percentage">
            </div>
          </div>
          <button type="submit">Submit</button>
        </form>               
        <p>Text Input style</p>
        <input class="text-input" type="number" />
        <p>Button style</p>
        <a href="#" class="buttons">Buttons</a>
      </div>
    </div>
  </body>
  <footer>
    <p>attributions</p>
    <a
      href="https://www.flaticon.com/free-icons/calculator"
      title="calculator icons"
      >Calculator icons created by Vitaly Gorbachev - Flaticon</a
    >
  </footer>
</html>
