<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <script src="static/css/javascript/calculate-script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="nav-bar">
        <img src="{{ url_for('static', filename='css/images/calculator-logo.png') }}"/>
        <a class="nav-bar-logo">Expense Splitter</a>
        <a class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 1 else '' }}" href="/">Dashboard</a>
        <a class="nav-bar-other{{ ' nav-bar-other-active' if active_screen == 2 else '' }}" href="/expenses">Expenses</a>
      </div>
      <div id="hero" class="hero">
        <h1>Expenses</h1>
          <label>Total Expenses:</label>
          <input class="text-input" type="number" step="0.01" id="total-expense-box" inputmode="numeric" pattern="\d+(\.\d{2})?" required>
          <script src="static/css/javascript/total-expense-script.js"></script>
          <div id="people-fields">
            <div class="person-field">
              <label>Name:</label>
              <input class="text-input" type="text" id="person-1-name" required>
              <label>Percentage:</label>
              <input class="text-input" type="number" id="person-1-percentage" inputmode="numeric" pattern="\d+(\.\d{2})?" required>
              <label> Individual Total: </label>
              <img id="delete-person-1" src="{{ url_for('static', filename='css/images/x-mark.png') }}"/>
            </div>
            <div class="person-field">
              <label>Name:</label>
              <input class="text-input" type="text" id="person-2-name" required>
              <label>Percentage:</label>
              <input class="text-input" type="number" id="person-2-percentage" inputmode="numeric" pattern="\d+(\.\d{2})?" required>
              <label> Individual Total: </label>
              <img id="delete-person-2" src="{{ url_for('static', filename='css/images/x-mark.png') }}"/>
            </div>
              <button id="add-person-button" class="buttons"> + Add Person</button>
              <script src="static/css/javascript/add-person-script.js"></script>
          </div>
          <a id="calculate" class="buttons" style="float:right" href="javascript:void(0)" onclick="handleCalculateButtonClick()">Calculate</a>

          
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
  <footer>
    <div class="footer-content">
      <p>&copy; 2023 Expense Splitter App</p>
      <ul class="footer-links">
        <li><a href="https://www.flaticon.com/free-icons/calculator">Attribution</a></li>
      </ul>
    </div>
  </div>
</footer>
</html>
